@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* now write the CSS variables */

:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);

  /*  hover*/
  --hover: #cdced5;

  /* dark mode */
  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(146, 68%, 55%);

  /* light mode */
  --toggle-bg-light: hsl(230, 22%, 74%);

  /* dark mode variables */
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg: hsl(232, 19%, 15%);

  --dark-card: hsl(228, 34%, 66%);

  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);

  /* light mode variables */
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(252, 100%, 98%);

  --light-card: hsl(227, 47%, 96%);

  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);

  /* font family variable */
  --font-inter: "Inter", sans-serif;
}

/* varaibles for the dark mode */
html[data-theme="dark"] {
  --light-bg: hsl(230, 17%, 14%);
  --light-top-bg: hsl(232, 19%, 15%);

  --light-card: hsl(228, 28%, 20%);

  --light-text1: hsl(228, 34%, 66%);
  --light-text2: hsl(0, 0%, 100%);
}

/* for switching transition */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* remember this to have responsive page */

/* breakdown Up
medium 640px => 40em
large 1024px => 64em
xlarge 1400 px => 87.5em

breakdown down
small 639px => 39.9375em
medium 1023px => 63.9375em 
large 1399 px => 87.4375em */

/* Base Styling */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 3rem;
  padding: 0;
  font-family: var(--font-inter);
  background: var(--light-bg);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.card {
  padding: 1.25rem;
}

/* toggle button style */

.toggle__button {
  background-color: var(--toggle-bg-light);
  border-radius: 50%;
  height: 1rem;
  width: 1rems;
}

/*  Header Section Style */
header {
  margin-bottom: 25px;
}

header .title {
  font-size: 24px;
  font-weight: bold;
  color: var(--light-text2);
}
header .text {
  font-size: 14px;
  font-weight: bold;
  color: var(--light-text1);
}

/* main style */
main {
  border-top: 1px solid #a3a1a1;
}

.main-title {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-top: 20px;
}

.main-title p {
  font-size: 14px;
  color: var(--light-text1);
  align-self: center;
  font-weight: bold;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle-container {
  display: flex;
}

label {
  cursor: pointer;
  width: 5.2rem;
  height: 2.7rem;
  background-color: var(--toggle-bg-light);
  border-radius: 100px;
  position: relative;
  align-self: center;
}

label:after {
  position: absolute;
  content: "";
  top: 3px;
  right: 6px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: linear-gradient(90deg, #388fe7 0%, #40db86 100%);
}

input:checked + label:after {
  right: calc(100% - 45px);
  transform: translateX(-110%);
}

/* Card Section Style */

.card-section {
  margin-bottom: 35px;
}

.card {
  height: 22rem;
  /* border: 1px solid red; */
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
  background: VAR(--light-card);
  border-radius: 6px;
  margin-bottom: 35px;
}

.card-header {
  /* border: 1px solid crimson; */
  grid-column: 2/4;
  display: flex;
  align-items: center;
  margin: auto;
}

.card-header i {
  width: 3rem;
  margin-right: 15px;
}

.card-header p {
  font-size: 12px;
  font-weight: bold;
  color: var(--light-text1);
}

.card-body {
  grid-column: 2/4;
  text-align: center;
}

.card-body h1 {
  font-size: 6rem;
  color: var(--light-text2);
  text-align: center;
}

.card-body p {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--light-text1);
}

.card-footer {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-footer i {
  width: 1.25rem;
  margin-right: 5px;
}

.card-footer p {
  font-size: 1.25rem;
  color: var(--limegreen);
  text-transform: uppercase;
  font-weight: bold;
}

.fb {
  border-top: 5px solid var(--facebook);
}
.tw {
  border-top: 5px solid var(--twitter);
}
.in {
  border-top: 5px solid;
  border-image-source: linear-gradient(
    90deg,
    var(--instagram-start) 0%,
    var(--instagram-end) 100%
  );
  border-image-slice: 1;
}
.yt {
  border-top: 5px solid var(--youtube);
}

.yt .card-footer p {
  color: var(--brightred);
  text-transform: capitalize;
}

/* Overview Style Section */

.overview-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--light-text1);
  letter-spacing: 2px;
}

.overview-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 20rem;
  background: var(--light-card);
  margin-top: 25px;
  border-radius: 6px;
}

.page-views {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--light-text1);
  margin: auto;
}

.fa-brands {
  margin: auto;
  width: 4rem;
}

.overview-card h2 {
  font-size: 6rem;
  margin-top: 25px;
  border-radius: 6px;
  color: var(--light-text2);
  margin: auto;
  grid-column: 1/2;
}

.overview-card .fa-solid {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
  font-size: 1.5rem;
}

.percentage {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
  padding-left: 55px;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--limegreen);
}

.fb-down {
  color: var(--brightred);
}

.large-num {
  padding-left: 80px;
  color: var(--limegreen);
}

/* last line style */
.attribute {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  color: var(--light-text2);
}

.attribute span:hover {
  cursor: pointer;
  color: var(--limegreen);
}

/* now for responsive for other devices */

/* for tablet */
@media (min-width: 769px) and (max-width: 1200px) {
  .card {
    margin-top: 0;
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .overview-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .overview-card h2 {
    grid-column: 1/2;
    font-size: 4rem;
  }
}

/* for desktop */

@media screen and (min-width: 1200px) {
  body {
    margin: 5rem;
  }

  header {
    margin-bottom: 0;
  }

  main {
    border-top: none;
  }

  .main-title {
    justify-content: flex-end;
    margin-top: 0;
  }

  .main-title p {
    font-weight: bold;
    margin-right: 15px;
  }

  .card:hover {
    cursor: pointer;
    background: var(--hover);
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }

  .card-header {
    margin-top: 20px;
  }
  .card-header i {
    width: 2rem;
  }

  .overview-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }

  .overview-card:hover {
    cursor: pointer;
    background: var(--hover);
  }

  .page-views {
    font-size: 1.5rem;
  }
}
